.hachijuu {
     height: 80px;
}
.hachistogojuu {
	height: 850px;
}
.rokusto{
	height: 600px;
}
.hachisto {
	height: 800px;
}
.mama {
	margin-left:auto;
	margin-right: auto;
}
.gosto{
	height: 500px;
}
.ha {
	text-decoration: none;
	border: none;
}
.nisto{
	height: 290px;
}
.sansto{
	height:300px;
}
.isto{
	height: 100px;
}
.nini{
	height: 200px;
}
.mtt {
	margin-top:-10px;
}